body {
  margin:0px;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:444px;
  width:670px;
  height:67px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#777777;
  text-align:left;
  outline-style:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:612px;
  width:670px;
  height:67px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#777777;
  text-align:left;
  outline-style:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:784px;
  width:670px;
  height:67px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#777777;
  text-align:left;
  outline-style:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:965px;
  width:670px;
  height:67px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#777777;
  text-align:center;
  position:absolute;
  outline-style:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1078px;
  width:670px;
  height:89px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:89px;
  font-family:'Arial Normal', 'Arial';
  font-weight:500;
  font-style:normal;
  font-size:35px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1179px;
  width:670px;
  height:89px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:89px;
  font-family:'Arial Normal', 'Arial';
  font-weight:500;
  font-style:normal;
  font-size:35px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
